// Color variable
$backgroundHeaderColor: #0eaa16;
$backgroundColor: #13aa20;
$backgroundColorHover: #cffcc4;
$borderColor: #cccccc;
$hoverColor: #29702c;
$deleteButtonColor: #20ee98;
$editButtonColor: #835900;
$addButtonColor: #299154;
$textButtonColor: #ffffff;
$pagingBackgroundColor: #f0ffec;
$backgrounPrehandle: #aae9ae50;
$textColorGray: #666666;
$textColorGrayDark: #363636;

// Border style
$paddingContentTB: 10px;
$paddingContentLR: 10px;