.table-list{
    td{
        border-bottom: 1px solid black;
        padding: 2px 5px;
    }
    thead{
        background-color: #3261fab9;
        font-weight: bold;
        color: #ffffff;
        td{
            border-top: 1px solid black;
            border-bottom: 2px solid black;
        }
    }
    tbody{
        tr{
            &:nth-last-child(){
                td{
                    border-bottom: 2px solid black;
                }
            }
        }
    }
}
.paging{
    .focus{
        background-color: #cccccc;
    }
    .page-item{
        display: inline-block;
        min-width: 30px;
        border: 1px solid #cccccc;
        border-radius: 2px;
        text-align: center;
        padding: 3px;
        box-sizing: border-box;
        cursor: pointer;
        &:hover{
            background-color: #dbdbdb;
        }
    }
}