@import '~bootstrap/scss/bootstrap.scss';
@import './assets/scss/common.scss';
.cover{
    width: 100%;
    max-height: 1000px;
    overflow: auto;
    box-sizing: border-box;
    @include coverWidth();
    .page-title{
        height: 70px;
        background-color: $backgroundHeaderColor;
        color: $textButtonColor;
        @include contentPadding($paddingContentTB, $paddingContentLR);
    }
    .number-of-item{
        @include contentPadding($paddingContentTB, $paddingContentLR);
        float: right;
        .number-title{
            color: $textColorGray;
        }
        .number-value{
            color: $textColorGrayDark;
            font-weight: bold;
            font-style: italic;
        }
    }
}
@include toolbarHandler();